<html lang="en">
  <head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <h1>Welcome {{username}} to Sync Drive  !!!</h1>
<br>
<br>
	<p><b><a href="https://login.live.com/oauth20_authorize.srf?client_id=0000000048104E79&scope=wl.skydrive,wl.skydrive_update&response_type=token&redirect_uri=http://ec2.socialphotos.net:5000/callback">Click here to Login to skydrive</a></b></p>

	<p><b><a href="https://accounts.google.com/o/oauth2/auth?
			scope=https://www.googleapis.com/auth/drive&
			redirect_uri=http://ec2.socialphotos.net:5000/callback_google&
			response_type=code&
			client_id=485476280210.apps.googleusercontent.com&
			access_type=offline">Click here to Login to Google Drive</a></b></p>

	<p><b><a href="https://www.dropbox.com/1/oauth2/authorize?
			client_id=2u32491x5z496am&
			response_type=token&
			redirect_uri=https://googledrive.com/host/0B2xo1MFqnLo5VzVhWjlFamF4cEk/callback_dropbox.html
			">Click here to Login Dropbox</a></b><p>

    </div>
  </body>
</html>
