<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
    <style>
        body {
          padding-top: 70px;
          padding-bottom: 20px;
        }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Welcome to SyncDrive - Signed in as: {{email}}</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row marketing">
        <div class="col-lg-6" id="pane1" style="border:1px solid;">
          <center>
            <br/>
            <table border="0">
              <tr>
                <td>
                  <span id="pane1_drive" style="float:left;"></span>
                </td>
                <td>
                  &nbsp; &nbsp;
                  <button class="btn btn-primary" onclick="javascript:showUpload(1);">Upload a file</button>
                </td>
              </tr>
            </table>
          </center>
          <br/>
          <div id="drivePane1">
            <br/>
          </div>
        </div>
        <div class="col-lg-6"  id="pane2" style="border:1px solid;">
          <center>
            <br/>
            <table border="0">
              <tr>
                <td>
                  <span id="pane2_drive" style="float:left;"></span>
                </td>
                <td>
                  &nbsp; &nbsp;
                  <button class="btn btn-primary" onclick="javascript:showUpload(2);">Upload a file</button>
                </td>
              </tr>
            </table>
          </center>
          <br/>
          <div id="drivePane2">
            <br/>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalBox">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modalTitle"></h4>
          </div>
          <div class="modal-body">
            <p id="modalBody"></p>
          </div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/static/h5utils.js"></script>
    <script src="/static/ddslick.js"></script>
    <script src="/transfer.js"></script>
    {% if upload_prompt %}
    <script>
      alert('Uploaded file successfully!');
    </script>
    {% endif %}
  </body>
</html>


